<html>

<!-- <link rel="stylesheet" href="../styles/header.css">
<nav class="navegacion">
    <ul id="menu">
        <li>
            <a href="../index.html">
                <img src="../assets/img/logo.png" alt="artemis_libros">
            </a>
        </li>
        <li id="opcion"><a href="../pages/servicios.html">Servicios</a></li>
        <li id="opcion"><a href="../pages/valores.html">Valores</a></li>
        <li id="opcion"><a href="../pages/contacto.html">Contacto</a></li>
    </ul>
</nav> -->

</html>