    .dev {
        float: right;
        padding: 10%
    }
    
    .dev img {
        height: 300px;
        border-radius: 50%;
        border: 15px solid;
        border-color: darkorchid;
    }
    
    .dev-info {
        padding: 50px;
    }