img {
    height: 75px;
}

.navegacion {
    height: 75px;
    background-color: #ef7f2c;
}

.navegacion ul li {
    display: flex;
    align-items: center;
}

#menu {
    display: flex;
    height: 75px;
}

#menu li a img {
    padding: 0;
}

a {
    text-decoration: none;
    padding: 15px 20px;
    color: black;
}

a:active {
    color: white;
}

a:hover {
    background-color: khaki;
    color: skyblue;
}

#desarrolladora {
    justify-content: flex-end;
}

#desarrolladora img {
    height: 30px;
}