.card {
    padding: 20;
    margin: 20;
    background-color: goldenrod;
    height: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: inline-block;
    color: white;
}

#titulo {
    font-size: 30;
}

#descripcion {
    padding: 0 20 0 0;
    font-size: 12;
}

.info {
    float: left;
    width: 70%;
}

#image {
    width: 100%;
    height: 100%;
}

.imagen {
    width: 30%;
    float: right;
}