.card {
    padding: 20;
    margin: 20;
    background-color: darkred;
    height: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10% 10%;
}

#titulo {
    font-size: 30;
}

#descripcion {
    font-size: 12;
}