.card {
    padding: 20px;
    margin: 30px;
    background-color: goldenrod;
    height: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: inline-block;
    color: white;
}

#titulo {
    font-size: 30px;
    color: black;
}

#descripcion {
    padding: 0 20px 0 0;
    font-size: 20;
}

.info {
    float: left;
    width: 70%;
}

#image {
    width: 100%;
    height: 100%;
}

.imagen {
    width: 30%;
    float: right;
}