.valores nav {
    /* display: inline-block; */
}

.valores nav p {
    margin: 20;
}

.mision {
    float: left;
    width: 50%;
}

.mision img {
    height: 50%;
}

.vision {
    float: right;
    width: 50%;
}

.vision img {
    height: 50%;
}