.valores nav {
    display: inline-block;
}

.valores nav p {
    margin: 30px;
}

.mision {
    align-items: center;
    float: left;
    width: 50%;
}

.mision img {
    height: 30%;
}

.vision {
    float: right;
    width: 50%;
}

.vision img {
    height: 30%;
}